@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --c-primary: #F55A5A;
    --c-white-900: #FFFFFF;
    --c-white-500: #F5F5F5;
    --c-black-700: #2B283A;
    --c-black-100: #918E9B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span    {
    display: inline-block;
}

/* **** Utility Classes **** */
.container  {
    width: 570px;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 1.5rem; 
    padding-left: 1.5rem; 
}
.flex {
    display: flex;
    align-items: center;
}

/* HEADER SECTION */
header {
    background-color: var(--c-primary);
    justify-content: center;
    gap: 0 0.4rem; /* 7px */
    padding-block: 1.25rem; /* 20px */
}
header .header--text {
    font-family: 'Inter', sans-serif;
    color: var(--c-white-900);
    font-size: 0.937rem;  /* 15px */
}

/* ENTRY SECTION */
.entry {
    gap: 0 19px;
    padding: 18px 0;   
    position: relative;
}
.entry:first-child {
    margin-top: 40px;
}
.entry:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--c-white-500);
    bottom: 0;
}
.entry--content > div:not(:last-child)  {
    padding-bottom: 7px;
}
.entry--image   {
    width: 7.8rem;
    height: 10.3rem;
    object-fit: cover;
    object-position: center;
}
.entry--location .marker {
    width: 10px;
    padding-right: 4px;
}
.entry--location .name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.625em;
    line-height: 12px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    padding-right: 0.75em;
}
.entry--location .link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.625em;
    line-height: 12px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: var(--c-black-100);
}
.entry--title .heading   {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5625em;
    line-height: 30px;
    color: var(--c-black-700);
}
.entry--date .start,
.entry--date .end   {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.625em;
    line-height: 12px;
    color: var(--c-black-700);
}
.entry--desc .text  {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.625em;
    line-height: 15px;
    color: var(--c-black-700);
}
